* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #4AD2CB;
}

.header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    font-size: 48px;
    color: #ffffff;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 30px;
}

.hero {
    height: 50px;
    width: 100%;
    background-image: url("../images/images\ \(2\).jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

img{
    text-align: center;
    color: #ffffff;
    max-height: 500px;
    max-width: 300px;
    padding: 2%;
}

.About {
    position: absolute;
    padding: 3%;
    width: 50%;
    height: 100px;
    margin: 20px;
    background-color: #4AD2CB;
    color: white;
    display: flexbox;
    flex-wrap: wrap;
}

.About h2,
.Portfolio h2,
.Contact h2 {
    margin: 20px;
    color: aquamarine;
    font-size: 40px;
    padding: 2%;
}

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

.benefits {
    margin-right: 100px;
    padding: 20px;
    clear: both;
    float: right;
    width: 35%;
    height: 50%;
    background-color: #2589bd;
    display: flexbox;
    flex-wrap: wrap;

}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 100%;
}

ul {
    font-size: 30px;
}

a {
    font-size: 30px;
}